---
version: "3"
services:
 devopsdb:
   container_name: devopsdb
   #image: shaikmustafa/valluri:dbimage
   build: ./Docker-db/
   ports:
     - "3306:3306"
   networks:
     - app_network
     - db_network

 application:
   container_name: containerapp
   #image: shaikmustafa/valluri:appimage
   build: ./Docker-app/
   ports:
     - "1234:8080"
   networks:
     - app_network
     - db_network
   #depends_on:
    # - "devopsdb"


networks:
  db_network:
    driver: bridge
  app_network:
    driver: bridge
  
