---
version: "3"
services:
 devopsdb:
   image: hemantmunagaala/myrepo:dbimage
   #build: ./Docker-db/
   deploy:
     replicas: 3
   ports:
     - "3306:3306"

 application:
   image: hemantmunagaala/myrepo:appimage
   #build: ./Docker-app/
   deploy:
     replicas: 3
   ports:
     - "1234:8080"
   depends_on:
     - "devopsdb"
  
