---
version: "3"
services:
 devopsdb:
   image: hemantmunagaala/myrepo:dbimage
   #build: ./Docker-db/
   deploy:
     replicas: 3
   ports:
     - "3306:3306"
   networks:
     - app_network
     - db_network

 application:
   image: hemantmunagaala/myrepo:appimage
   #build: ./Docker-app/
   deploy:
     replicas: 3
   ports:
     - "1234:8080"
   networks:
     - app_network
     - db_network
   #depends_on:
    # - "devopsdb"


networks:
  db_network:
    driver: bridge
  app_network:
    driver: bridge
  
